:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --text-color-primary: rgba(33, 33, 33, 1);
  --text-color-secondary: rgba(0, 0, 0, 1);
  --text-color-tertiary: rgba(33, 150, 243, 1);
  --text-color-quaternary: rgba(255, 255, 255, 1);
  --text-color-quinary: rgba(117, 117, 117, 1);
  --text-color-senary: rgba(255, 255, 255, 0.6);
  --background-color-primary: rgba(255, 255, 255, 1);
  --background-color-tertiary: rgba(47, 48, 58, 1);
  --background-color-quaternary: rgba(33, 150, 243, 1);
  --background-color-quinary: rgba(245, 244, 250, 1);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.core {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
}
.nav__list-item {
  position: relative;
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  margin-right: 46px;
  letter-spacing: 0.02em;
}
.is-active {
  color: #2196f3;
}

.is-active::after {
  position: absolute;
  content: '';
  background: var(--background-color-quaternary);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  top: 45px;
  left: 0;
}

.link2:hover,
.link2:focus,
.link:hover,
.link:focus,
.nav__list-item:hover,
.nav__list-item:focus {
  color: var(--text-color-tertiary);
}
.nav__logo {
  color: var(--text-color-secondary);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  line-height: 1.17;
  margin-right: 93px;
}
.nav__logo-studio {
  color: var(--text-color-tertiary);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer__logo {
  color: var(--text-color-quaternary);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.sloganbg__title {
  color: var(--text-color-quaternary);
  letter-spacing: 0.06em;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  width: 696px;
}

.crew__title {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section__title {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: -94px;
}
.list__item-title {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-top: 20px;
}
.footer__title {
  color: var(--text-color-quaternary);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
.headerbg {
  background-color: var(--background-color-primary);
}
.crew {
  background-color: var(--background-color-quinary);
}
.sloganbg {
  display: flex;
  background-color: var(--background-color-tertiary);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 80%),
    url(../images/overlay.jpg);

  text-align: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
}
.footer {
  background-color: var(--background-color-tertiary);
}
.clients {
  background-color: var(--background-color-primary);
}
.sloganbg__button {
  color: var(--text-color-quaternary);
  font-weight: 700;
  background-color: var(--background-color-quaternary);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
}
.portfoliolist__button {
  color: var(--text-color-primary);
  font-weight: 500;
  background-color: var(--background-color-quinary);
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 52px;
  padding: 6px 22px;
  border-radius: 4px;
}
.portfoliolist__button:hover,
.portfoliolist__button:focus {
  color: var(--text-color-quaternary);
  background-color: var(--background-color-quaternary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.list__title {
  color: var(--text-color-primary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.list__paragraph {
  color: var(--text-color-quinary);
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crew__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.portfoliolist {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.footer__list {
  display: flex;
  gap: 70px;
}
.crew__list-names {
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.crew__list-paragraph {
  color: var(--text-color-quinary);
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}
.crew__list-border {
  background: var(--background-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.portfoliolist__border {
  position: relative;
  background: var(--background-color-primary);
  border: 1px solid #eee;
  overflow: hidden;
}
.portfoliolist__border:hover {
  background: var(--background-color-primary);
  border: 1px solid #eee;
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}

.header__border {
  border: 1px solid rgba(236, 236, 236, 1);
}

.nav__link {
  color: var(--text-color-quinary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  gap: 10px;
}

.address {
  color: var(--text-color-quaternary);
  font-size: 14px;
  line-height: 2;
  font-style: normal;
  letter-spacing: 0.03em;
}
.portfoliolist__paragraph {
  color: var(--text-color-quinary);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-bottom: 20px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}
.footer-menu {
  padding-top: 60px;
  padding-bottom: 60px;
}
.nav {
  display: flex;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.social-media {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  gap: 10px;
}
.nav__icons {
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.nav__icons:hover,
.nav__icons:focus {
  fill: rgba(33, 150, 243, 1);
}
.social-media__icons {
  fill: #afb1b8;
}

.crew__list-button {
  border: none;
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
}
.crew__list-button:hover,
.crew__list-button:focus {
  border: none;
  background: #2196f3;
}
.crew__list-button:focus .social-media__icons,
.crew__list-button:hover .social-media__icons {
  fill: #fff;
}
.client__icons {
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.client__icons:hover,
.client__icons:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}
.footer__icon {
  fill: #fff;
}
.social-media__button {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  padding: 12px;
  border: none;
  margin-bottom: 30px;
}
.social-media__button:hover,
.social-media__button:focus {
  background: #2196f3;
}

.portfoliolist__border:hover .overley {
  bottom: 0;
}
.section__box {
  position: relative;
}
.crew__list-label {
  position: absolute;
  text-align: center;
  padding-top: 27px;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color-quaternary);
  background: rgba(47, 48, 58, 0.8);
  opacity: 0.8;
  top: 224px;
}
.portfoliolist__overley {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color-quaternary);
  line-height: 1.55;
  letter-spacing: 0.3;
  padding: 49px 45px 49px 24px;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 101%;
}
.portfoliolist__border:hover .portfoliolist__overley,
.portfoliolist__border:focus .portfoliolist__overley {
  top: 0;
}
.portfoliolist__label {
  position: relative;
  background-color: #fff;
  z-index: 1;
}
.modal {
  width: 528px;
  height: 581px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 6;
}
.is-hidden {
  display: none;
  visibility: hidden;
}
.modal-overley {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.modal__button-close {
  position: relative;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: 490px;
  top: 8px;
  z-index: 7;
}
.list__icons {
  margin-bottom: 30px;
}
.newsletter__button {
  display: inline-flex;
  width: 200px;
  height: 50px;
  color: var(--text-color-quaternary);
  font-weight: 700;
  background-color: var(--background-color-quaternary);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 42px;
  align-items: center;
  margin-left: 24px;
}

.newsletter__icon {
  fill: #fff;
  margin-left: 24px;
}

.newsletter__field {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}
.newsletter {
  padding-top: 16px;
}
.modal__fields {
  display: inline;
}
.modal__field {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}
.modal__field-comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-left: 16px;
}
.modal__paragraph {
  color: rgba(117, 117, 117, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}
.modal__title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(33, 150, 243, 1);
}

.modal__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.modal__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  min-height: 501px;
}
.modal__icons {
  position: relative;
  left: 15px;
  top: -29px;
  fill: #212121;
}
.modal__field:focus,
.modal__field:hover {
  border: 1px solid #2196f3;
  outline: none;
}
.modal__field:focus + .modal__icons,
.modal__field:hover + .modal__icons {
  fill: #2196f3;
}
.form-checkbox:checked {
  border: none;
  background-image: url('../images/icons.svg#icon-Vector');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
}
.modal__field-comment:hover,
.modal__field-comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}
