.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color-primary);

  &__icons {
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    &:focus,
    &:hover {
      border-color: #2196f3;
      fill: #2196f3;
    }
  }
}
