.header {
  background-color: var(--background-color-primary);
  &__border {
    border: 1px solid rgba(236, 236, 236, 1);
  }
  &__logo {
    color: var(--text-color-secondary);
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    line-height: 1.17;
    margin-right: 93px;
  }
  &__logo-studio {
    color: var(--text-color-tertiary);
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  &__menu-item {
    display: flex;
    position: relative;
    color: var(--text-color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    margin-right: 46px;
    letter-spacing: 0.02em;

    &:hover {
      color: var(--text-color-tertiary);
    }
    &:focus {
      color: var(--text-color-tertiary);
    }
  }
}

.header__menu-item--active {
  color: #2196f3;
  &::after {
    position: absolute;
    content: '';
    background: var(--background-color-quaternary);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    top: 45px;
    left: 0;
  }
}
.header__nav {
  display: flex;
  align-items: center;

  &-link {
    color: var(--text-color-quinary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    gap: 10px;

    &:focus {
      fill: rgba(33, 150, 243, 1);
    }
    &:hover {
      fill: rgba(33, 150, 243, 1);
    }
  }
  &-icons {
    display: flex;
    margin-left: 30px;
    align-items: center;

    &:focus {
      fill: rgba(33, 150, 243, 1);
    }
    &:hover {
      fill: rgba(33, 150, 243, 1);
    }
  }
}
.header__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-icons {
    margin-bottom: 30px;
  }
  &-item--title {
    color: var(--text-color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-top: 20px;
  }
  &-title {
    color: var(--text-color-primary);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &-paragraph {
    color: var(--text-color-quinary);
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
  }
}
.header__nav .address {
  color: var(--text-color-quaternary);
  font-size: 14px;
  line-height: 2;
  font-style: normal;
}
