.portfolio__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  &-button {
    color: var(--text-color-primary);
    font-weight: 500;
    background-color: var(--background-color-quinary);
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 8px;
    padding: 6px 22px;
    border-radius: 4px;
    &:focus {
      color: var(--text-color-quaternary);
      background-color: var(--background-color-quaternary);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    }
    &:hover {
      color: var(--text-color-quaternary);
      background-color: var(--background-color-quaternary);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    }
  }
  &-border {
    position: relative;
    background: var(--background-color-primary);
    border: 1px solid #eee;
    overflow: hidden;
    &:hover {
      background: var(--background-color-primary);
      border: 1px solid #eee;
      box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
      .overley {
        bottom: 0;
      }
    }
  }
  &-paragraph {
    color: var(--text-color-quinary);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-bottom: 20px;
  }
  &-label {
    position: relative;
    background-color: #fff;
    z-index: 1;
  }
}
